@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');


body {
    font-family: 'roboto', sans-serif;
    background-color: black;
    color: white;
}
.title,
.subtitle {
    width: 420px;
    margin: 0 auto;
    text-align: center;
}

.container {
    width: 100%;
    margin:100px auto;
}
.subtitle {
    margin-bottom: 50px;
    margin-top: 20px;
}
input {
    width: 550px;
    background-color: black;
    border: unset;
    border-bottom: 1px solid #676767;
    color: white;
    font-size: 20px;
    padding: 10px;
}
::placeholder {
    color: white;
}
form {
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
button {
    text-align: center;
    background-color: black;
    color: white;
    border: none;
    font-size: 30px;
    margin: 0 auto;
}
.button-img {
    width: 500px;
    align-items: center;
    display: flex;
}
